<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
        div{
            width: 100%;
            height: 100vh;
            background-color: rgb(199, 148, 148);
            padding: 50px;
            font-size: 5em;
        }
    </style>
</head>
<body>
    <div>
        <h2>Eorror!!!!!!!!</h2>
    </div>
    <script>
       
    </script>
</body>
</html>